:root {
  --white: white;
  --black: black;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.image {
  opacity: 1;
  object-fit: contain;
  width: 100%;
  height: 100%;
  padding: 95px;
  position: absolute;
}

.heading {
  color: #3e9f32;
  text-align: center;
  font-family: Kanit, sans-serif;
  font-size: 35px;
}

.button {
  background-color: #e4922d;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  font-family: Droid Sans, sans-serif;
  font-weight: 600;
}

.div-block {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.nav-link {
  display: none;
}

.navbar {
  background-color: #3e9f32;
}

.nav-link-2 {
  color: #fff;
  font-family: Kanit, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.nav-link-2.w--current {
  color: #fff;
}

.heading-2 {
  font-family: Kanit, sans-serif;
}

.div-block-2 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.div-block-4 {
  width: 100%;
  height: 400px;
  position: relative;
}

.image-2 {
  opacity: .08;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.text-block {
  font-family: Open Sans, sans-serif;
}

.div-block-5 {
  max-width: 800px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
}

.rich-text-block {
  font-family: Open Sans, sans-serif;
}

.paragraph {
  font-size: 16px;
  line-height: 24px;
}

.text-span {
  font-weight: 200;
}

.main-header {
  width: 100%;
  height: 500px;
  position: relative;
}

.footer-section {
  background-color: #3e9f32;
  margin-top: 39px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.footer-grid {
  grid-column-gap: 110px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr .25fr .25fr .25fr .25fr;
}

.body-text {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}

.body-text.light {
  color: rgba(255, 255, 255, .7);
}

.footer-link {
  color: #fff;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  display: block;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-block-copy {
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-3 {
  border: 1px solid #dbcece;
  margin-bottom: 12px;
}

.image-3.small {
  object-fit: contain;
  width: 400px;
  margin-bottom: 0;
}

.download-tab {
  grid-column-gap: 13px;
  grid-row-gap: 13px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
  display: flex;
}

@media screen and (max-width: 991px) {
  .div-block-5 {
    max-width: 80%;
  }

  .icon {
    color: #fff;
  }

  .footer-grid {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: .5fr .5fr;
  }

  .footer-block {
    text-align: center;
  }

  .body-text {
    font-size: 18px;
  }

  .footer-block-copy {
    text-align: center;
  }
}

#w-node-c8547d9d-3d0f-8edd-9c25-9dfe701d02e3-701d02e0 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-c8547d9d-3d0f-8edd-9c25-9dfe701d02f2-701d02e0 {
  justify-self: end;
}

@media screen and (max-width: 991px) {
  #w-node-c8547d9d-3d0f-8edd-9c25-9dfe701d02e3-701d02e0, #w-node-c8547d9d-3d0f-8edd-9c25-9dfe701d02e7-701d02e0 {
    justify-self: center;
  }

  #w-node-c8547d9d-3d0f-8edd-9c25-9dfe701d02f2-701d02e0 {
    grid-area: span 1 / span 2 / span 1 / span 2;
    justify-self: center;
  }
}


